---
// src/pages/apod.astro
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import JWST_Pic from '../images/JWST_Pic.png';
import CurrentProjectsPanel from '../components/CurrentProjectsPanel.astro';

// Fetch the APOD data
import data from '../data/apod.json';
---

<Layout title="Home">
	<div class="flex flex-col gap-2 ">
		<div class="panel-1 grid md:grid-cols-2 gap-4 p-2 place-items-center">
			<div class="flex flex-col gap-3 p-4 text-center">
				<h1 class="!font-bold !text-2xl !mb-2">Welcome to my Portfolio</h1>
				<p class="self-center">
					I&apos;m Rob Rothschild, a systems & software engineer in Bellingham, WA, focused on simulation, data
					analytics, and interactive tools for hardware and test systems.
				</p>
				<p class="self-center">
					Explore some of my projects including: C++ games, Python and MATLAB data-analytics GUIs, and modern web apps built with Astro,
					Django, and SvelteKit.
				</p>
				<p class="self-center font-semibold">
					Head to the <a href="/portfolio" class="text-orange-300 underline">portfolio</a> to dive into
					selected projects.
				</p>
			</div>
			<div class="">
				<Image class="" src={JWST_Pic} alt="A bird sitting on a nest of eggs." />
			</div>
		</div>
		<div class="grid md:grid-cols-2 gap-2">
	            <CurrentProjectsPanel />
	            <div class="panel-1 self-start">
                <div class="rounded-t-lg">
                    {data.media_type === 'image' ? (
                        <img src={data.url} alt={data.title} class="rounded-t-lg" />
                    ) : (
                        <iframe
                        src={data.url}
                        title={data.title}
                        class="rounded-t-lg"
                        ></iframe>
                    )}
                </div>
                <div class="flex flex-col gap-1">
                    <p class="text-center font-bold text-2xl">NASA's Astronomy Picture of the Day</p>
                    <h2 class="text-center font-semibold">{data.date} -> {data.title} </h2>
                    <p class="p-2 pt-0">{data.explanation}</p>
                </div>
            </div>
		</div>
	</div>
</Layout>
